<div class="login-content">
    <div class="login-content-user-info">
        <div class="btn-official ">
            <h4>ข้อมูลพนักงาน</h4>
        </div>
        <h3><small>รหัสพนักงานขาย</small> {{userinfo.id}}</h3>
        <h3><small>ชื่อพนักงาน</small>{{userinfo.name}}</h3>
        <h3><small>Shop Code</small>{{userinfo.shopcode}}</h3>
        <h3><small>Shop Name</small>{{userinfo.shopname}}</h3>
    </div>
    <div class="menu-content-nav">
        <button class="btn btn-danger btn-done">ออกจากระบบ</button>
    </div>
</div>