<div class="info-bar">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label class="col-sm-2 control-label text-right">รหัสพนักงานขาย</label>
                <div class="col-sm-2">
                    
                    <input  type="text" class="form-control" ng-model="userinfo.id">
                </div>
                <label class="col-sm-2 control-label text-right">ชื่อพนักงาน</label>
                <div class="col-sm-2">
                    <input  type="text" class="form-control" ng-model="userinfo.name">
                </div>
                <label class="col-sm-2 control-label text-right">ผู้ช่วยขาย</label>
                <div class="col-sm-2">
                    <input  type="text" class="form-control" ng-model="userinfo.cosale">
                </div>
            </div>
        </div>
    </div>
</div>