<!-- Header -->
<div id="header" ng-include="'views/common/headerserved.html'"></div>
<!-- Main Wrapper -->
<nav class=" navbar-default landing-bar">
    <div class="container">
        <div id="navbar" class="navbar-collapse collapse">
            <div class="row">
                <div>
                    <br><p>Sale Approach > Order Capture > Payment > Stock Issue</p> 
                </div>
            </div>
        </div>
</nav>



<div id="wrapper">
    <div class="container">
        <!-- <div class="col-md-1"></div> -->
        <br>
        <h4>Apple Care</h4>
        <p></p>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group imp">
                    <div class="form-group imp">
                        <label>ชื่อ</label>
                        <input type="text" class="form-control " value="สุขแสนสุข">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group imp">
                    <label>นามสกุล</label>
                    <input type="text" class="form-control" value="ใจอารีย์">
                </div>
            </div>
            <div class="col-md-4">
                <label>IMEI</label>
                <p></p>
                <input type="checkbox" class="styled">
                <label>345433223456786</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label>อีเมลล์</label>
                <input type="text" class="form-control ">
            </div>
            <div class="col-md-4">
                <label>หมายเลขโทรศัพท์</label>
                <input type="text" class="form-control numberic">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label>บริษัท</label>
                <input type="text" class="form-control ">
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <label>ที่อยุ่ 1</label>
                <input type="text" class="form-control ">
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <label>ที่อยุ่ 2</label>
                <input type="text" class="form-control ">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label>City</label>
                <input type="text" class="form-control ">
            </div>
            <div class="col-md-4">
                <label>จังหวัด</label>
                <select class="form-control" style="width:360px;">
                    <option value="0"></option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label>ประเทศ</label>
                <select class="form-control" style="width:360px;">
                    <option value="0"></option>
                </select>
            </div>
            <div class="col-md-4">
                <label>รหัสไปรษณีย์</label>
                <input type="text" class="form-control numberic">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8"></div>
        <div class="col-md-2">
            <button class="btn btn-success" id="modallistpayment" data-dismiss="modal" align="right" onclick="location.href='#printpreview'">ยืนยัน</button>
        </div>
    </div>
</div>
<!-- end authorize -->
<!--  <div ng-include="template.currentpriceplan" scope="" onload=""></div>
 -->
<!-- Footer -->
<footer class="footer" ng-include="'views/common/footer.html'"></footer>
</div>
