<!-- Header -->
<div id="header" ng-include="'views/common/headerserved.html'"></div>
<!-- Main Wrapper -->
<div id="wrapper">
    <div class="container" id="changeOwnershipContent">
        <div class="content m_content">
            <div class="content-body">
                <div class="row">
                    <div class="col-md-2"></div>
                        <div class="col-md-3">
                        <img src="images/product/dataorder.png"></div>
                </div>
                    <div class="row">
                    <div class="col-md-12 form-buttons">
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="submit" value="ตกลง" class="btn btn-success" onclick="location.href='#ordermonitor'">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
