<!-- Header -->
<div id="header" ng-include="'views/common/headerserved.html'"></div>
<!-- Main Wrapper -->
<nav class=" navbar-default landing-bar">
    <div class="container">
        <div id="navbar" class="navbar-collapse collapse">
            <div class="row">
                <div><br><p>
Home > Products > Devices > iPhone > Promotion > Priceplan</p>
                </div>
            </div>
        </div>
</nav>



<div id="wrapper">
    <div class="container">
        <!-- <div class="col-md-1"></div> -->
        <br>
        <h4>เปิดบริการใหม่</h4>
        <div class="well">
            <!--  <div class="well"> -->
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="col-md-6" style=" text-align: left; top: 5px;">
                            <p></p>
                            <input type="radio" name="number" disabled>
                            <label> &nbspเปิดบริการหมายเลขใหม่</label>&nbsp
                            <input type="radio" name="number" checked>
                            <label> &nbspใช้บริการหมายเลขเดิม</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <h3>รายการส่งเสริมการขาย<span style="color:black;">*</span></h3><br></div>  
            <div class="row" ng-show="showlist">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="col-md-6">
                            <select id="selectReasonId" ng-options="option.dec for option in reasons" ng-change="onReasonChange()" ng-model="reason" class=" form-control">
                                <option value="">001122</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
           
          
                <div class="col-md-12">
                    <table>
                        <tr class="row">
                            <th class="col-md-1" ></th>
                            <th class="col-md-1" ><b>MSISDN</b></th>
                            <th class="col-md-1" style="text-align:center"><b> BAN </b></th>
                            <th class="col-md-1" style="text-align:center"> <b>Active Date </b></th>
                            <th class="col-md-1" style="text-align:left"> <b>Price Plan</b> </th>
                            <th class="col-md-1" style="text-align:left"><b> Port in</b> </th>
                            <th class="col-md-1" style="text-align:left"> <b>Operator</b> </th>
                            <th class="col-md-1" style="text-align:left"> <b>Status</b> </th>
                            <th class="col-md-3" style="text-align:left"> <b>Remark </b></th>
                        </tr>
                    </table>
                    <table class="table">
                        <tr class="row">
                            <td class="col-md-1" align="right"><input type="radio"> </td>
                            <td class="col-md-1">0901234567</td>
                            <td class="col-md-1"> 22769123 </td>
                            <td class="col-md-1" style="text-align:left"> 12/04/2014 </td>
                            <td class="col-md-1" style="text-align:center"> PLSMAP10 </td>
                            <td class="col-md-1" style="text-align:center"> Y </td>
                            <td class="col-md-1" style="text-align:center"> TMV </td>
                            <td class="col-md-1" style="text-align:center"> A </td>
                            <td class="col-md-3" style="text-align:left"> </td>
                        </tr>
                    </table>
                    
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <h3>Price Plan</h3></div>
                        <div class="col-md-6">
                            <input type="text" class="form-control" value="RMABCDO1:Real Move Very Good Price Plan">
                        </div>
                        <div class="col-md-3">
                            <input type="text" placeholder="--ค้นหา--" ng-model="data.customerAddress['district']" class="form-control" required>
                        </div>
                        <div class="col-md-3">
                            <button ng-click="selectedPricePlan()" href="#modalPriceplanOwnership" id="modalnewpriceplan" class="btn" onclick="return false;" data-toggle="modal" style="background-color: #5cb85c; border-color: #4cae4c; ">
                            <span style="color:white;">...</span>
                        </button>
                        </div>
                        <p></p>
                        <div class="col-md-4">
                        </div>
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-1">
                        </div>
                    </div>
                </div>
            
            <div class="row">
                <div class="col-md-8"></div>
                <div class="col-md-2"></div>
                <div class="col-md-2">
                    <button class="btn btn-success" id="modallistpayment" onclick="location.href='#ordercaptureexisting'" data-dismiss="modal" align="right">ถัดไป</button>
                </div>
            </div>
        </div>
    </div>




    <div id="modalPriceplanOwnership" tabindex="-1" class="modal fade" data-backdrop="static" data-keyboard="false" >
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5>เลือก Price Plan</h5><br>
               <!--  <button type="button" id="btnReadCardClose" class="close" data-dismiss="modal">&times;</button> -->
                <div class="col-md-12">
                    <input type="text" placeholder="--ค้นหา--" ng-model="pricePlanFilter" class="form-control">
                </div>
            </div>
            <div class="modal-body">
                &nbsp;
                <div class="table-responsive">
                    <table class="table">
                        <tr class="row" >
                            <th class="col-md-1"></th>
                            <th class="col-md-7"><span style="color:green;"><h4> Price Plan</h4></span></th>
                            <th class="col-md-1"><span style="color:green;"><h4> RC</h4></span></th>
                            <th class="col-md-3" style="text-align: center;"><span style="color:green;"> <h4>รายการส่งเสริมการขาย</h4></span></th>
                        </tr>
                        <tr class="row" ng-repeat="pp in pricePlans | filter:pricePlanFilter" pagination-id="PPList" current-page="currentPage">
                            <th class="col-md-1"><input name="pricels" type="radio" ng-change="selectedPricePlan(pp)" ng-model="pricePlan.name" ng-value="pp.pricePlan" /></th>
                            <th class="col-md-7">{{pp.pricePlan}}</th>
                            <th class="col-md-1">{{pp.rc}}</th>
                            <th class="col-md-3" style="text-align:center;">{{pp.promotion}}</th>
                        </tr>
                        <!-- <tr>
                            <td id="divPage" colspan="5" class="text-center" style="margin-bottom: 0px;">
                                <style>
                                    .pagination {
                                        margin: 0;
                                    }
                                </style>
                                <div dir-pagination-controls pagination-id="PPList" boundary-links="true" template-url="lib/paging/dirPagination.tpl.html?v={{runTime}}"></div>
                            </td>
                        </tr> -->
                    </table>
                </div>



                <div id="div_event"></div>
            </div>
            <div class="modal-footer">

                <button class="btn btn-success" data-dismiss="modal">เลือก</button>
                <button class="btn btn-cancel" data-dismiss="modal">ยกเลิก</button>
            </div>
        </div>
    </div>
</div>
    <!-- end authorize -->
    <!--  <div ng-include="template.currentpriceplan" scope="" onload=""></div>
 -->
    <!-- Footer -->
    <footer class="footer" ng-include="'views/common/footer.html'"></footer>
</div>
