<!-- Header -->
<div id="header" ng-include="'views/common/headerserved.html'"></div>
<nav class=" navbar-default landing-bar">
    <div class="container">
        <div id="navbar" class="navbar-collapse collapse">
            <div class="row">
                <div>
                    <br><p>
Home > Products > Devices > iPhone > Promotion > Privilege Verify </p>
                </div>
            </div>
        </div>
</nav>
<div class="container" id="orderDeviceContent">
    <div class="row content">
        <div class="col-md-12 sale-main">
            <div class="row">
                <div class="col-md-6">
                    <h4 class="pull-left ttl_main_sale"></h4>
                </div>
                <div class="col-md-6">
                    <a href="javascript:;" class="pull-right viewall"> </a>
                </div>
            </div>
            <br>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="row">
                                <h4>iPhone 6 Plus</h4>
                            </div>
                            <div class="box-sale-4">
                                <div class="product_img">
                                    <img src="images/product/iPhone_6_Plus.png">
                                    <div class="product_img_3g">
                                        <ul></ul>
                                    </div>
                                </div>
                                <div class="product_price">
                                    <h4>I Phone 6 Plus (สีทอง)</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-md-8">
                                    <p>
                                        <b><h6>ตรวจสอบสิทธิ์</h6></b></p>
                                    <p>
                                        <h6>RS491 RF_Existing iPhone 6 & 6 Plus discount 5000</h6></p>
                                    <p>
                                </div>
                                <div class="col-md-4"></div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group ">
                                        <label>หมายเลขบัตรประชาชน/พาสปอร์ต</label>
                                        <input disabled type="text" placeholder="" class="form-control numberic" value="3600800664204">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group ">
                                        <label>หมายเลขโทรศัพท์</label>
                                        <input type="text" placeholder="" class="form-control numberic">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <button type="button" ng-click="useAddressAsCard('H')" class="btn btn-default btn_address" onclick="location.href='#priceplanexisting'">ตรวจสอบ</button>
                                        <a href=""></a>
                                    </div>
                                </div>
                                <div class="col-md-4"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</div>
</div>
