<!-- Header -->
<div id="header" ng-include="'views/common/header.html'"></div>
<!-- Main Wrapper -->
<div id="wrapper">
    <div class="container ng-scope" id="orderDeviceContent">
        <div class="row content">
            <div class="col-md-12 sale-main">
                <div class="row">
                    <div class="col-md-6">
                        <h4 class="pull-left ttl_main_sale"></h4>
                    </div>
                    <div class="col-md-6">
                        <a href="javascript:;" class="pull-right viewall"> </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="row" ng-repeat="itm in devicecode">
                                    <h4 class="fontedit">{{itm.device}}</h4>
                                </div>
                                <div class="box-sale-4">
                                    <div class="product_img" ng-repeat="itm in devicecode">
                                        <div class="product_img">
                                            <img src="images/product/{{itm.pic}}.png" />
                                        </div>
                                        <div class="product_img_3g">
                                            <ul></ul>
                                        </div>
                                    </div>
                                    <div class="product_price" ng-repeat="itm in devicecode">
                                        <h4 class="fontedit">{{itm.detail}}</h4>
                                    </div>
                                </div>
                            </div>
                            <div id="defalutpromotion" class="col-md-8" ng-show="defalutpromotion = 'D'" >
                                <div class="row" ng-repeat="itm in devicedetail1">
                                    <h4 class="fontedit">{{itm.categoryName}}</h4>
                                    <div class="row">
                                        <a href="" data-toggle="modal" data-target=".modalPromotion">
                                            <div class="well">
                                                <div class="row">
                                                    <div class="col-md-12" ng-repeat="itmDes in itm.details">
                                                        <b>{{itmDes.description1}}</b>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12" >
                                                        <ul>
                                                            <li ng-repeat="itm in devicedetail1
">
                                                                {{itm.items1}}
                                                            </li>
                                                            <li>
                                                                {{itm.items2}}
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12" ng-repeat="itmDes in itm.details" >
                                                        <b>{{itmDes.price1}}</b>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="" data-toggle="modal" data-target=".modalPromotion">
                                            <div class="well">
                                                <div class="row">
                                                    <div class="col-md-12" ng-repeat="itmDes in itm.details">
                                                        <b>{{itmDes.description2}}</b>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12" ng-repeat="itm in devicedetail1">
                                                        <ul>
                                                            <li>
                                                                {{itm.items1}}
                                                            </li>
                                                            <li>
                                                                {{itm.items2}}
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12" ng-repeat="itmDes in itm.details" >
                                                        <b>{{itmDes.price2}}</b>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="row" ng-repeat="itm in devicedetail2">
                                    <h4 class="fontedit">{{itm.categoryName}}</h4>
                                    <div class="row">
                                        <a href="" data-toggle="modal" data-target=".modalPromotion">
                                            <div class="well" style="background-color:pink">
                                                <div class="row">
                                                    <div class="col-md-12" ng-repeat="itmDes in itm.details">
                                                        <b>{{itmDes.description1}}</b>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12" >
                                                        <ul>
                                                            <li ng-repeat="itm in devicedetail2">
                                                                {{itm.items1}}
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="" data-toggle="modal" data-target=".modalPromotion">
                                            <div class="well" style="background-color:pink">
                                                <div class="row">
                                                    <div class="col-md-12" ng-repeat="itmDes in itm.details">
                                                        <b>{{itmDes.description2}}</b>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <ul>
                                                            <li ng-repeat="itm in devicedetail2">
                                                                {{itm.items2}}
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer -->
<footer class="footer" ng-include="'views/common/footer.html'"></footer>
</div>
