<div class="header">
    <div class="container-fluid">
        <div class="navbar-brand navbar-brand-center">
            <div class="logo"></div>
        </div>
        <div class="aa">
            <customer-menu></customer-menu>
           
            <div class="bb dropdown-menu mega-dropdown-menu menu">
                 <customer-toggle-info></customer-toggle-info>
            </div>
        </div>
        <div class="aa">
            <user-menu></user-menu>
            <div class="login dropdown-menu navmenu-nav bb">
                <user-toggle-info></user-toggle-info>
            </div>
        </div>
    </div>
</div>
<!-- <user-bar-info></user-bar-info> -->